apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argo-cd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      selfHeal: true

  source:
    chart: argo-cd
    repoURL: https://argoproj.github.io/argo-helm
    targetRevision: 7.7.7
    helm:
      valuesObject:
        global:
          domain: {{ .Values.argocd.hostname }}
        dex:
          enabled: false
        notifications:
          enabled: false
        applicationSet:
          enabled: true
        configs:
          params:
            server.insecure: true
        server:
          ingress:
            enabled: true
            ingressClassName: nginx
            annotations:
              nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
              nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
              cert-manager.io/cluster-issuer: {{ .Values.certManager.clusterIssuer }}
            hosts:
              - {{ .Values.argocd.hostname }}
            paths:
              - /
            pathType: Prefix
            tls:
              - hosts:
                - {{ .Values.argocd.hostname }}
                secretName: argocd-tls
